
/exafs_path_selector/1667441_feff
/exafs_path_selector/.ipynb_checkpoints
/lib/__pycache__
/lib/.ipynb_checkpoints
/outputs
/lcf_analiser/.ipynb_checkpoints
/lcf_analiser/wd_temp
wf_data/pub_723/additional/1697445.cif
wf_data/pub_723/additional/material_mp-19025_files.zip
wf_data/pub_723/additional/material_mp-565203_files.zip
wf_data/pub_723/additional/mp-19025_LaMnO3.cif
wf_data/pub_723/additional/mp-565203_Mn2O3.cif
/wf_data/non_pub
